aiohttp
aria2p
async_generator
bs4
cowpy
cffi
coffeehouse
covid
cryptg
dnspython
deezloader
emoji
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google_images_download
google_trans_new
gTTS
gTTS-token
hachoir
heroku3
html_telegraph_poster
httplib2
humanize
jikanpy
lxml
lyricsgenius
oauth2client
pendulum
Pillow
psutil
psycopg2
psycopg2-binary
pybase64
pyfiglet
pylast
pySmartDL
python-barcode
python-dotenv
youtube-dl
pytz
qrcode
redis
requests
search-engine-parser
speedtest-cli
sqlalchemy
TgCrypto
telethon
telethon-session-sqlalchemy
telegraph
urbandict
wikipedia
PyGithub
python-dateutil
vcsi
youtube_search
